
.navigation-list,
.contacts {
    display: none;
}


/* @media screen and (max-width: 480px) {

    .navigation-list,
    .contacts {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .feutures-icon-fon,
    .work {
        display: none;
    }
} */
